[submodule "hw01-suggest"]
	path = hw01-suggest
	url = git@github.com:cannor147/itmo-webapp-hw01-suggest.git
[submodule "hw02-rest-api"]
	path = hw02-rest-api
	url = git@github.com:cannor147/itmo-webapp-hw02-rest-api.git
[submodule "hw03-redux"]
	path = hw03-redux
	url = git@github.com:cannor147/itmo-webapp-hw03-redux.git
